body {
    background-color: #fcf7ed;
    /* background-color: #A9D09E; */
    /* color: #75BDE0 */
}

hr {
    border-color: #75BDE0;
    width: 10%;
    border-style: dotted none none;
    border-width: 5px;

}

h1,
h3 {
    color: #3B7097;

}

img {
    border-radius: 100%;
    /* background-color: #A9D09E; */
}